
<div class="header">
	Our government customer wanted a system that would allow its employees control<br>
	and manage government property quickly and easily.
</div>


<p class="text">
	Department’s employees used a lot of unlinked and different Excel files
	to manage government property before the new system release. This system automated
	their work to operate and maintain a huge number of documents, registers and processes.
</p>

<div class="side_info" style="margin-top: 5px">
	— Business analysis<br>
	— UI/UX design<br>
</div>

<div class="image_std">
	<img src="images/2_kgs/1_dashboard.png">
	<span>Standard personal dashboard</span>
</div>

<p class="text">
	After login each user gets his department's dashboard page (there are 15 departments at all)
	with a list of available actions, saved queries and notifications.
</p>

<div class="image_std">
	<img src="images/2_kgs/2_table.png">
	<span>Table of useful data</span>
</div>

<p class="text">
	In the general case any register or list of processes is just a table.
	There are two big problems with these tables: a large vertical size (tens of thousands of objects)
	and a large horizontal size (large number of columns, which often does not fit in 1024px wide).
	Therefore, information was placed in these tables very densely.
</p>
<div class="image_std">
	<img src="images/2_kgs/3_bigtable.png">
	<span>Table with periodic filters and relative changes</span>
</div>

<p class="text">
	Also there is a set of custom tables, which need to meet specific users' requirements.
	For example, a periodic table with relative data changes.
</p>
<div class="image_std">
	<img src="images/2_kgs/4_element.png">
	<span>Record edit page</span>
</div>

<p class="text">
	Generally, edit page of the object or process is a card with a set of fields with minimum possible number
	of field types. In the right part of the page is fixed block with navigation to quickly select every
	part of record card. This block can be turned off If it is necessary.
</p>


<div class="side_image">
	<img src="images/2_kgs/mini_1.png">
</div>

<div class="image_std">
	<img src="images/2_kgs/5_xul.png">
	<span>XUL-based desktop client</span>
</div>

<p class="text">
	The system is a web service, but we decided to write standalone client to make work
	with it more easier. We used Mozilla XUL Runner with my redesigned interface.
	So we threw away out all unnecessary things in browser and added a lot of cool features.
</p>

<p class="text">
	In addition, we developed a lot of other useful stuff: notifications, event logs,
	calendar, search, history, file versions and etc.
</p>

<p class="text">
	During this process of system developing I was responsible for user interface design
	and user experience. In total I designed and prototyped each of page for each department
	with own fields and actions and with dozens of unique working processes.
</p>
