
<div class="header">
	I worked on making one of city portals more efficient and user-friendly.<br>
	I’ve done lots of work to redesign existing structure and user interface.
</div>

<div class="side_info" style="margin-top: 5px">
	— UI/UX design<br>
	— Part of front-end programming<br>
</div>

<div class="image_std first_image">
	<img src="images/3_megatyumen/1_main.jpg">
	<span>Redesigned main page with new page structure</span>
</div>

<p class="text">
	There are a lot of types of content on the main page:
	latest news, announcements, interviews, articles, comments and others.
	It was an exciting and hard task to make main layout more usable, responsive and easy-to-change.

</p>

<p class="text">
	Also there are a few subportals; they must have exactly the same page structure with just another set of blocks.
	It was a big deal to create dynamic layouts which can be changed so easy.
</p>

<div class="image_std big_center">
	<img src="images/3_megatyumen/2_ipads.jpg">
</div>

<p class="text">
	Layouts were designed to be responsive and automatically adjusting to the
	resolution of user's device. It is very convenient to view portal's weather
	reports, read news or comment something using popular mobile devices (not only Apple)
</p>

<div class="image_std">
	<img src="images/3_megatyumen/4_news1.jpg">
	<span>News page on the portal</span>
</div>

<p class="text">
	News is one of the most important parts of the portal. I redesigned current news structure
	to make representation of stories more bright and powerful.
</p>

<div class="image_std">
	<img src="images/3_megatyumen/3_news.jpg">
	<span>News page on the portal</span>
</div>

<p class="text">
	Portal's team are working now to apply front- and back-end changes and will release this new redesigned version soon.
</p>

