
<div class="header">
	Tweeria is a game with minimal user's involvement.<br>
	Everytime you tweet, your alter ego finds adventures, kills monsters or gets items.
</div>

<div class="image_std first_image">
	<img src="images/1_tweeria/1_main.jpg">
	<span>Main page</span>
</div>

<p class="text">
	It was hard to do something interesting. Worked on various projects ranging from web site design, interface and logo design. Also developed front-side (HTML, CSS, JS). Had created city level startup about food.
</p>

<p class="text">
	It was hard to do something interesting. Worked on various projects ranging from web site design, interface and logo design. Also developed front-side (HTML, CSS, JS). Had created city level startup about food anIt was hard to do something interesting. Worked on various projects ranging from web site design, interface and logo design. Also developed front-side (HTML, CSS, JS). Had created city level startup about food anIt was hard to do something interesting. Worked on various projects ranging from web site design, interface and logo design. Also developed front-side (HTML, CSS, JS). Had created city level startup about food.
</p>

<div class="image_std">
	<img src="images/1_tweeria/2_profile.jpg">
	<span>My profile</span>
</div>

<p class="text">
	It was hard to do something interesting. Worked on various projects ranging from web site design, interface and logo design. Also developed front-side (HTML, CSS, JS). Had created city level startup about food.
</p>

<div class="image_std image_map">
	<img src="images/1_tweeria/map.jpg">
</div>
<div class="empty_container"></div>


<p class="text">
	It was hard to do something interesting. Worked on various projects ranging from web site design, interface and logo design. Also developed front-side (HTML, CSS, JS). Had created city level startup about food.
</p>

<p class="text">
	It was hard to do something interesting. Worked on various projects ranging from web site design, interface and logo design. Also developed front-side (HTML, CSS, JS). Had created city level startup about food.
</p>

<div class="image_std">
	<img src="images/1_tweeria/3_shop_new.jpg">
	<span>My profile</span>
</div>

<p class="text">
	It was hard to do something interesting. Worked on various projects ranging from web site design, interface and logo design. Also developed front-side (HTML, CSS, JS). Had created city level startup about food.
</p>

<div class="image_std">
	<img src="images/1_tweeria/4_shop.jpg">
	<span>My profile</span>
</div>

<p class="text">
	It was hard to do something interesting. Worked on various projects ranging from web site design, interface and logo design. Also developed front-side (HTML, CSS, JS). Had created city level startup about food.
</p>