
<div class="header">
	Tweeria is a game with minimal user's involvement.<br>
	Everytime you tweet, your alter ego finds adventures, kills monsters or gets items.
</div>

<div class="image_big">
	<img src="images/1_tweeria/1_main.jpg" style="margin: -16px 0 -36px -35px;">
</div>

<p class="text">
	It was hard to do something interesting. Worked on various projects ranging from web site design, interface and logo design. Also developed front-side (HTML, CSS, JS). Had created city level startup about food.
</p>

<p class="text">
	It was hard to do something interesting. Worked on various projects ranging from web site design, interface and logo design. Also developed front-side (HTML, CSS, JS). Had created city level startup about food anIt was hard to do something interesting. Worked on various projects ranging from web site design, interface and logo design. Also developed front-side (HTML, CSS, JS). Had created city level startup about food anIt was hard to do something interesting. Worked on various projects ranging from web site design, interface and logo design. Also developed front-side (HTML, CSS, JS). Had created city level startup about food.
</p>