<div class="header">
	Tweeria is a game with minimal user's involvement.<br>
	Everytime you tweet, your alter ego finds adventures, kills monsters or gets items.
</div>

<div class="work_info">
	Website for hospital
	<br><a href="http://clinica72.ru">http://clinica72.ru</a>
</div>

<p class="text">
	It was hard to do something interesting. Worked on various projects ranging from web site design, interface and logo design. Also developed front-side (HTML, CSS, JS). Had created city level startup about food.
</p>

<div class="image_std">
	<img src="images/4_works/1_neftyanik.jpg">
	<span>My profile</span>
</div>

<div class="work_info">
	Website for taxi company
	<br><a href="http://vezitaxi.ru">http://vezitaxi.ru</a>
</div>

<p class="text">
	It was hard to do something interesting. Worked on various projects ranging from web site design, interface and logo design. Also developed front-side (HTML, CSS, JS). Had created city level startup about food.
</p>

<div class="image_std">
	<img src="images/4_works/2_taxi.jpg">
	<span>My profile</span>
</div>

<div class="work_info">
	Website for insurance company
	<br><a href="http://osago72.ru">http://osago72.ru</a>
</div>

<p class="text">
	It was hard to do something interesting. Worked on various projects ranging from web site design, interface and logo design. Also developed front-side (HTML, CSS, JS). Had created city level startup about food.
</p>

<div class="image_std">
	<img src="images/4_works/3_osago.jpg">
	<span>My profile</span>
</div>


<div class="work_info">
	Food portal
	<br><a href="http://poesh.com">http://poesh.com</a>
</div>

<p class="text">
	It was hard to do something interesting. Worked on various projects ranging from web site design, interface and logo design. Also developed front-side (HTML, CSS, JS). Had created city level startup about food.
</p>

<div class="image_std">
	<img src="images/4_works/4_poesh.jpg">
	<span>My profile</span>
</div>

<p class="text">
	It was hard to do something interesting. Worked on various projects ranging from web site design, interface and logo design. Also developed front-side (HTML, CSS, JS). Had created city level startup about food.
</p>

<div class="image_std image_map">
	<img src="images/4_works/cars.png">
</div>
<div class="empty_container cars"></div>

<p class="text">
	It was hard to do something interesting. Worked on various projects ranging from web site design, interface and logo design. Also developed front-side (HTML, CSS, JS). Had created city level startup about food.
</p>