<div class="{{ social_class }}" data-behavior="links">

	<a href="mailto:alex.shteinikov@gmail.com" class="mail"><i class="icon-paper-plane"></i></a>
	<a href="skype:a.shteinikov" class="skype"><i class="icon-skype"></i></a>
	<a href="http://www.linkedin.com/in/alexshteinikov" class="linkedin"><i class="icon-linkedin"></i></a>
	<a href="http://dribbble.com/ido" class="dribbble"><i class="icon-dribbble"></i></a>
	<a href="http://twitter.com/ido_q" class="twitter"><i class="icon-twitter"></i></a>
	<a href="http://www.facebook.com/idooo" class="facebook"><i class="icon-facebook"></i></a>
	<a href="https://github.com/idooo" class="github"><i class="icon-github-circled"></i></a>

</div>