<div class="{{ social_class }}">

	<a href="mailto:alex.shteinikov@gmail.com" class="mail"></a>
	<a href="skype:a.shteinikov" class="skype"></a>
	<a href="/link" class="linkedin"></a>
	<a href="http://dribbble.com/ido" class="dribbble"></a>
	<a href="http://twitter.com/ido_q" class="twitter"></a>
	<a href="/link" class="facebook"></a>

</div>