{% include "header.jinja2" %}

<div class="gallery-container">

	{% for image in images %}
		<div class="gallery-item">
			<a href="/gallery/new_original/{{ image.new_original }}" rel="lightbox[three]">
				<img src="/gallery/thumbnails/{{ image.thumbnail }}">
			</a>
		</div>
	{% endfor %}

	<div class="clear"></div>
</div>

{% include "footer.jinja2" %}