<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>Alex Shteinikov's website</title>

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="/css/compiled/style.css" media="all">
	<link href="/css/libs/lightbox.css" rel="stylesheet" />

	<script type="text/javascript" src="/libs/jquery-1.8.js"></script>
	<script type="text/javascript" src="/libs/lightbox.js"></script>

	<link rel="shortcut icon" href="/css/favicon.ico"/>
	<link rel="icon" type="image/png" href="/css/favicon.png"/>

</head>
<body>
