<!DOCTYPE html>
<html>
<head>
	<title>Alex Shteinikov's website</title>

	<link rel="stylesheet" type="text/css" href="css/style.css" media="all">
	<link href="css/lightbox.css" rel="stylesheet" />

	<script type="text/javascript" src="js/jquery-1.8.js"></script>
	<script type="text/javascript" src="js/lightbox.js"></script>
	<script type="text/javascript" src="js/script.js"></script>

	<link rel="shortcut icon" href="/css/favicon.ico"/>
	<link rel="icon" type="image/png" href="css/favicon.png"/>

</head>
<body>
