/* Main vars */

$sprite: url("/css/style_images/sprite.png");
$quote_color: rgba(96, 96, 96, 0.1);
$main_border: 15px solid black;

$text_color: #7e7e7e;
$link_color: #c85e00;
$link_inactive_color: #ead3be;

/* Fonts */

@mixin fontload($family, $name, $filename, $svgname) {
  font-family: $family;
  src: url('#{$filename}.eot');
  src: local($name),
  url('#{$filename}.eot?#iefix') format('embedded-opentype'),
  url('#{$filename}.woff') format('woff'),
  url('#{$filename}.ttf') format('truetype'),
  url('#{$filename}.svg##{$svgname}') format('svg');
}

/* PT Sans */

@font-face {
  @include fontload('PT Sans', 'PT Sans', '/css/fonts/PTS55F_W', 'PTSans-Regular');
}

@font-face {
  @include fontload('PT Sans', 'PT Sans Bold', '/css/fonts/PTS75F_W', 'PTSans-Bold');
  font-style: normal;
  font-weight: bold;
}
