$sprite: url("/css/style_images/sprite.png");

[class^="sprite-"],
[class*=" sprite-"] {
  position: relative;
  display: inline-block;
  background-image: $sprite;
  background-repeat: no-repeat;
}


// General mixin - sprite factory
@mixin sprite($name, $x, $y, $width, $height) {
	.sprite-#{$name} {
		background-position: $x $y;
		width: $width;
		height: $height;
	}
}

.empty-sprite {
  background: none;
}

// Define icons in section below
// ======================================================================================
//                                  pos X       pos Y       width       height
// ======================================================================================
@include sprite("geo",              -6px,       -9px,       10px,       15px);
@include sprite("geo-active",       -20px,      -9px,       10px,       15px);

@include sprite("mail",             -113px,     -3px,       21px,       22px);
@include sprite("skype",            -138px,     -1px,       25px,       25px);
@include sprite("linkedin",         -167px,     -1px,       23px,       24px);
@include sprite("dribbble",         -193px,     -1px,       25px,       25px);
@include sprite("twitter",          -219px,     -3px,       25px,       22px);
@include sprite("facebook",         -252px,     -1px,       15px,       25px);
@include sprite("github",           -278px,     -1px,       25px,       25px);

@include sprite("mail-active",      -113px,     -38px,      21px,       22px);
@include sprite("skype-active",     -138px,     -36px,      25px,       25px);
@include sprite("linkedin-active",  -167px,     -36px,      23px,       24px);
@include sprite("dribbble-active",  -193px,     -36px,      25px,       25px);
@include sprite("twitter-active",   -219px,     -38px,      25px,       22px);
@include sprite("facebook-active",  -252px,     -36px,      15px,       25px);
@include sprite("github-active",    -278px,     -36px,      25px,       25px);

@include sprite("s-mail",           -114px,     -71px,      15px,       17px);
@include sprite("s-skype",          -133px,     -71px,      18px,       18px);
@include sprite("s-linkedin",       -154px,     -71px,      16px,       17px);
@include sprite("s-dribbble",       -174px,     -71px,      18px,       18px);
@include sprite("s-twitter",        -194px,     -73px,      18px,       15px);
@include sprite("s-facebook",       -217px,     -71px,      11px,       18px);
@include sprite("s-github",         -235px,     -71px,      18px,       18px);

@include sprite("s-mail-active",    -114px,     -101px,     15px,       17px);
@include sprite("s-skype-active",   -133px,     -101px,     18px,       18px);
@include sprite("s-linkedin-active",-154px,     -101px,     16px,       17px);
@include sprite("s-dribbble-active",-174px,     -101px,     18px,       18px);
@include sprite("s-twitter-active", -194px,     -103px,     18px,       15px);
@include sprite("s-facebook-active",-217px,     -101px,     11px,       18px);
@include sprite("s-github-active",  -235px,     -101px,     18px,       18px);